/vendor/bin/
/vendor/pkg/
/vendor/src/
doc
.idea
byteplus-cli
/bp
/bp.exe
/bp.exe.old
*.exe.old
*.bak
/npm/checksum
/node_modules
package-lock.json

# Local upgrade temps
.bp-upgrade-*
*.upgrade.lock
